*{
    margin: 0;
    padding: 0;
}

.body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cabeçalho {
    background-color: #1C315E;
    display: flex;
    justify-content: space-around;
}
.cabeçalho-itens {
font-size: 36px;
margin: 5px;
display: inline-block;
color: #FFFFFF;
}
.cabeçalho-lista {
    font-size: 36px;
margin: 5px;
display: inline-block;
color: #FFFFFF;
}
.escola {
    background-color: #227C70;
    width: 1350px;
    height: 300px;
}
.escola-título {
    text-align: center;
    color: #FFFFFF;
    font-size: 50px;
    padding-top: 60px;
}
.escola-paragrafo {
   text-align: center;
    color: #FFFFFF;
    font-size: 30px; 
    padding-top: 15px;
}
.escola-texto {
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
    padding-top: 80px;
}
.galeria {
background-color: #0B695C;
color: #FFFFFF;
display: flex;
justify-content: space-around;
}
.galeria-foto {
    width: 473px;
    border-radius: 33px;
}